/*
    ===============================
    1. SETTINGS
    ===============================
*/
/* Baseline
================================================== */
/* Spacing
================================================== */
:root {
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 80px;
}

/*

Usage examples:

Single value:
  padding: var(--space-xl);

Multi value:
  padding: var(--space-m) 0 var(--space-l);

 */
/*
    ===============================
    2. TOOLS
    ===============================
*/
/*
    ===============================
    BOURBON NEAT GRID
    ===============================
*/
/*
@mixin u-container() {
  @include grid-container;
  box-sizing   : border-box;
  margin-left  : auto;
  margin-right : auto;
  max-width    : $max-width;
}

.u-container {
  @include u-container;
}
*/
/*
    ===============================
    COMMON CODE
    ===============================
*/
/* Z-index management
================================================== */
/*
    ===============================
    TYPOGRAPHY
    ===============================
*/
/* Font families */
/* Body text */
/*
    ===============================
    MISC
    ===============================
*/
/* #General body
================================================== */
/* #Headings
================================================== */
/* Buttons
================================================== */
/* Labels
================================================== */
/* Miscellaneous
================================================== */
/*
    ===============================
    3. RESET
    ===============================
*/
/* * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Reset styling on inputs */
input {
  margin: 0;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=button],
input[type=reset],
input[type=submit],
input[type=search] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  cursor: pointer;
}

button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
button:focus {
  outline: none;
}

/*
    ===============================
    4. BASE
    ===============================
*/
html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
  font-size: 16px;
  word-break: break-word;
}

main {
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #355360;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
  line-height: 24px;
}

h4 {
  font-size: 18px;
}

h5, h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
p a,
ol li a,
ul li a {
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus,
p a:hover,
p a:focus,
ol li a:hover,
ol li a:focus,
ul li a:hover,
ul li a:focus {
  outline: 0;
  text-decoration: none;
}

b, strong, body.webkit strong, body.webkit b {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

button, input, textarea, select {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

input[type=text],
input[type=email] {
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  vertical-align: top;
}

hr {
  border: 0;
  height: 3px;
  background-color: #C7B000;
  margin: var(--space-3xl) 0;
}

/*
    ===============================
    5. OBJECTS
    ===============================
*/
.o-button {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #C7B000;
  font-size: 14px;
  line-height: 16.44px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  background-color: #C7B000;
  border: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  padding: var(--space-s) var(--space-m);
  text-align: center;
  border-radius: 4px;
}
.o-button__icon-wrapper {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 100%;
  color: #000000;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.c-button__link {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 40px;
  font-weight: 700;
  text-decoration: underline;
  color: #57844E;
}

.o-container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1178px + 64px);
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
@media (max-width: 767px) {
  .o-container {
    max-width: calc(1178px + 32px);
    padding-left: 16px;
    padding-right: 16px;
  }
}

.o-content-from-editor {
  border-bottom: solid 10px #57844E;
  /* Block Quotes
  ================================================== */
  /* Captioned Images
  ================================================== */
  /* Aligned Images
  ================================================== */
  /* Lists
  ================================================== */
  /* Tables
  ================================================== */
  /* Miscellaneous
  ================================================== */
  /* Wordpress Galleries - Ew!
  ================================================== */
}
.o-content-from-editor__container {
  margin: 0 auto;
  max-width: 652px;
  width: 50%;
}
.o-content-from-editor p {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-size: 14px;
  line-height: 24px;
  color: #355360;
}
.o-content-from-editor p a {
  border-bottom: 1px solid currentColor;
  color: currentColor;
  font-size: inherit;
  padding-bottom: 3px;
  word-wrap: break-word;
}
.o-content-from-editor h1, .o-content-from-editor h2, .o-content-from-editor h3, .o-content-from-editor h4, .o-content-from-editor h5, .o-content-from-editor h6, .o-content-from-editor p, .o-content-from-editor ol, .o-content-from-editor ul, .o-content-from-editor a {
  box-sizing: border-box;
}
.o-content-from-editor h1 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 58.7px;
  font-weight: 700;
  margin-bottom: var(--space-l);
}
.o-content-from-editor h2 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 46.96px;
  font-weight: 700;
  margin-bottom: var(--space-l);
  padding-left: 56px;
  position: relative;
}
@media (max-width: 767px) {
  .o-content-from-editor h2 {
    padding-left: 40px;
  }
}
.o-content-from-editor h2:after {
  background-color: #57844E;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}
@media (max-width: 767px) {
  .o-content-from-editor h2:after {
    width: 24px;
  }
}
.o-content-from-editor h3 {
  margin-bottom: var(--space-m);
}
.o-content-from-editor h4 {
  margin-bottom: var(--space-m);
}
.o-content-from-editor h5 {
  margin-bottom: var(--space-m);
}
.o-content-from-editor h6 {
  margin-bottom: var(--space-m);
}
.o-content-from-editor p + h1,
.o-content-from-editor p + h2,
.o-content-from-editor p + h3,
.o-content-from-editor p + h4,
.o-content-from-editor p + h5,
.o-content-from-editor p + h6 {
  margin-top: var(--space-l);
}
.o-content-from-editor a {
  color: #57844E;
}
.o-content-from-editor a:hover, .o-content-from-editor a:focus {
  border-color: #57844E;
  color: #57844E;
  text-decoration: none;
}
.o-content-from-editor > :last-child {
  margin-bottom: 0;
}
.o-content-from-editor img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}
.o-content-from-editor blockquote {
  margin: var(--space-2xl) 0 56px 0;
  border-left: solid 3px #57844E;
  padding-left: var(--space-2xl);
}
@media (max-width: 767px) {
  .o-content-from-editor blockquote {
    margin: var(--space-l) var(--space-m) var(--space-xl) var(--space-l);
  }
}
.o-content-from-editor blockquote p {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 40px;
  color: #57844E;
  color: #57844E;
  font-style: normal;
  margin-bottom: var(--space-l);
}
@media (max-width: 767px) {
  .o-content-from-editor blockquote p {
    font-size: 24px;
    line-height: 32px;
  }
}
.o-content-from-editor blockquote figcaption {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #57844E;
}
.o-content-from-editor blockquote figcaption cite {
  display: block;
  font-weight: 400;
}
.o-content-from-editor blockquote footer {
  margin-top: var(--space-m);
}
.o-content-from-editor .wp-caption {
  display: inline-block;
  margin: 0 var(--space-l) var(--space-l) 0;
  vertical-align: top;
}
.o-content-from-editor .wp-caption img {
  display: block;
  height: auto;
  max-width: 100%;
}
.o-content-from-editor .wp-caption-text {
  color: #1C1C1C;
  font-size: 13px;
  line-height: 19px;
  margin-top: var(--space-xs);
  text-align: left;
}
.o-content-from-editor .wp-caption-text p:last-child,
.o-content-from-editor .wp-caption-text ul:last-child,
.o-content-from-editor .wp-caption-text ol:last-child {
  margin-bottom: 0;
}
.o-content-from-editor .alignleft {
  float: left;
  margin: var(--space-2xl) 0;
}
.o-content-from-editor .alignleft .wp-caption-text {
  padding-left: 0;
  text-align: left;
}
.o-content-from-editor .aligncenter {
  display: block;
  margin: var(--space-2xl) 0;
}
.o-content-from-editor .aligncenter .wp-caption-text {
  text-align: center;
}
.o-content-from-editor .alignright {
  float: right;
  margin: var(--space-2xl) 0;
}
.o-content-from-editor .alignright .wp-caption-text {
  padding-right: 0;
  text-align: right;
}
.o-content-from-editor .alignnone {
  display: block;
  height: auto;
  margin: var(--space-2xl) 0;
  max-width: 100%;
}
.o-content-from-editor .alignnone .wp-caption-text {
  padding-left: 0;
}
@media (max-width: 767px) {
  .o-content-from-editor .alignleft,
.o-content-from-editor .alignright,
.o-content-from-editor .alignnone {
    display: block;
    float: none;
    margin-bottom: var(--space-m);
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .o-content-from-editor .alignleft .wp-caption-text,
.o-content-from-editor .alignright .wp-caption-text,
.o-content-from-editor .alignnone .wp-caption-text {
    padding-left: 0;
    text-align: left;
  }
}
.o-content-from-editor ol, .o-content-from-editor ul {
  margin: var(--space-m) 0 var(--space-l) 0.5 var(--space-l);
}
@media (max-width: 767px) {
  .o-content-from-editor ol, .o-content-from-editor ul {
    margin-bottom: var(--space-m);
    margin-top: var(--space-m);
  }
}
.o-content-from-editor ol ul, .o-content-from-editor ol ol, .o-content-from-editor ul ul, .o-content-from-editor ul ol {
  margin: 4px 0 5px var(--space-l);
}
.o-content-from-editor ol li, .o-content-from-editor ul li {
  margin-bottom: 0;
  padding-left: var(--space-m);
}
.o-content-from-editor ol {
  list-style: decimal;
}
.o-content-from-editor ol ul {
  list-style: disc;
}
.o-content-from-editor ol ol {
  list-style: lower-latin;
}
.o-content-from-editor ol {
  counter-reset: li;
  list-style: none;
  margin-bottom: var(--space-2xl);
  margin-top: var(--space-2xl);
  padding-left: 1em;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.o-content-from-editor ol a {
  border-bottom: 1px solid currentColor;
  color: currentColor;
  font-size: inherit;
  padding-bottom: 3px;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .o-content-from-editor ol {
    margin-bottom: var(--space-xl);
    margin-top: var(--space-xl);
  }
}
.o-content-from-editor ol li {
  counter-increment: li;
  position: relative;
}
.o-content-from-editor ol li:before {
  color: #57844E;
  content: counter(li) ".";
  display: inline-block;
  left: -16px;
  margin-left: 0;
  position: absolute;
  top: 0;
}
.o-content-from-editor ol ul {
  list-style: circle;
}
.o-content-from-editor ol ol {
  list-style: decimal;
}
.o-content-from-editor ul {
  list-style: none;
  margin-bottom: var(--space-2xl);
  margin-top: var(--space-2xl);
  padding-left: 1em;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.o-content-from-editor ul a {
  border-bottom: 1px solid currentColor;
  color: currentColor;
  font-size: inherit;
  padding-bottom: 3px;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .o-content-from-editor ul {
    margin-bottom: var(--space-xl);
    margin-top: var(--space-xl);
  }
}
.o-content-from-editor ul li {
  position: relative;
}
.o-content-from-editor ul li:before {
  background-color: #57844E;
  content: "";
  display: inline-block;
  height: 8px;
  left: -16px;
  margin-left: 0;
  position: absolute;
  top: 12px;
  width: 8px;
}
.o-content-from-editor ul ul {
  list-style: circle;
}
.o-content-from-editor ul ol {
  list-style: decimal;
}
.o-content-from-editor table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 60px;
  margin-top: 36px;
  width: 100%;
  /* Cells in even rows (2,4,6...) are one color */
}
@media (max-width: 767px) {
  .o-content-from-editor table {
    margin-bottom: var(--space-xl);
    margin-top: var(--space-xs);
  }
}
.o-content-from-editor table thead > tr:first-child > td {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.o-content-from-editor table td, .o-content-from-editor table th {
  border-bottom: 1px solid #57844E;
  border-top: 1px solid #57844E;
  box-sizing: border-box;
  padding: var(--space-xs) 0;
}
.o-content-from-editor table th {
  font-weight: 600;
}
.o-content-from-editor table td {
  text-align: left;
}
.o-content-from-editor table tr:nth-child(even) td {
  background-color: transparent;
}
.o-content-from-editor address {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  margin-bottom: var(--space-m);
}
.o-content-from-editor address a {
  border-bottom: 1px solid currentColor;
  color: currentColor;
  font-size: inherit;
  padding-bottom: 3px;
  word-wrap: break-word;
}
.o-content-from-editor big {
  font-size: 22px;
  line-height: 32px;
}
.o-content-from-editor small {
  font-size: 14px;
  line-height: 22px;
}
.o-content-from-editor cite {
  font-weight: 700;
}
.o-content-from-editor q {
  font-style: italic;
}
.o-content-from-editor code, .o-content-from-editor var {
  font-family: Consolas, monospace;
}
.o-content-from-editor picture {
  display: block;
  margin-bottom: 36px;
}
.o-content-from-editor figcaption {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 24px;
  margin-top: 15px;
  color: #355360;
}
.o-content-from-editor .gallery {
  display: block;
  margin-bottom: var(--space-l);
  margin-top: var(--space-2xl);
}
.o-content-from-editor .gallery-item {
  display: inline-block;
  vertical-align: top;
}
.o-content-from-editor figure {
  width: 100% !important;
}

/* Iframes
================================================== */
.iframe-container {
  height: 0;
  margin-bottom: var(--space-l);
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

audio {
  width: 100%;
}

.o-link {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #C7B000;
  font-size: 14px;
  line-height: 16.44px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid currentColor;
  color: inherit;
  display: inline-block;
  padding-bottom: 2px;
}
.o-section {
  padding: 56px 0 56px;
  /* Items without backgrounds
  ================================================== */
  /* Different types next to eachother
  ================================================== */
  /* Items with backgrounds
  ================================================== */
}
@media (max-width: 767px) {
  .o-section {
    padding: 40px 0 var(--space-l);
  }
}
.o-section--no-background + .o-section--no-background {
  padding-top: 0;
}
.o-section--has-background + .o-section--no-background, .o-section--no-background + .o-section--has-background {
  padding-top: var(--space-2xl);
}
.o-section--has-background {
  padding: var(--space-2xl) 0;
}
.o-section--has-background + .o-section--has-background {
  padding-top: 0;
}

.o-svg {
  /* #Social
  ================================================== */
}
.o-svg--first-page, .o-svg--prev-page, .o-svg--next-page, .o-svg--last-page {
  background-color: tomato;
  height: 20px;
  width: 20px;
}
.o-svg--burger {
  background-color: tomato;
  height: 20px;
  width: 20px;
}
.o-svg--logo {
  height: 86px;
  width: 184px;
}
.o-svg--search {
  height: 20px;
  width: 20px;
}
.o-svg--facebook {
  height: 16px;
  width: 16px;
}
.o-svg--linkedin {
  height: 14px;
  width: 15px;
}
.o-svg--twitter {
  height: 14px;
  width: 18px;
}
.o-svg--youtube {
  height: 13px;
  width: 18px;
}

/*
    ===============================
    6. COMPONENTS
    ===============================
*/
.c-call-to-action {
  position: relative;
}
.c-call-to-action__wrapper {
  background: #57844E;
  padding: 58px 144px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.c-call-to-action__text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-size: 23px;
  line-height: 30px;
  width: 70%;
}
.c-call-to-action__text a {
  border-bottom: 1px solid currentColor;
  color: currentColor;
  font-size: inherit;
  padding-bottom: 3px;
  word-wrap: break-word;
}
.c-call-to-action__action {
  width: 30%;
  text-align: right;
}
.c-call-to-action__btn {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #C7B000;
  font-size: 14px;
  line-height: 16.44px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  background-color: #C7B000;
  border: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  padding: var(--space-s) var(--space-m);
  text-align: center;
  border-radius: 4px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.c-call-to-action__btn__icon-wrapper {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 100%;
  color: #000000;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}
.c-call-to-action__bg {
  background: #FBF7E9;
  width: 100%;
  padding: 99px 0 59px;
  margin-top: 120px;
}
.c-call-to-action__shape {
  position: absolute;
  right: 0;
  top: -104px;
  width: 317px;
  height: 156px;
}

.c-card {
  width: 100%;
  border-top: solid 1px #E5E5E5;
  border-bottom: solid 1px #E5E5E5;
  border-left: solid 1px #E5E5E5;
}
.c-card:last-child {
  border-right: solid 1px #E5E5E5;
}
.c-card__image-wrapper {
  background: #57844E;
  height: 243px;
  position: relative;
  margin: 11px;
}
.c-card__image-wrapper-short {
  background: #57844E;
  height: 194px;
  position: relative;
  margin: 11px;
  overflow: hidden;
}
.c-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  /*to make it behave as div and avoir whitespace issue*/
}
.c-card__heading {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #57844E;
  padding-top: 37px;
  font-weight: 700;
  margin: 0 20px 16px 37px;
}
.c-card__description {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 37px;
  margin: 0 20px 41px 37px;
  color: #355360;
}
.c-card__description a {
  border-bottom: 1px solid currentColor;
  color: currentColor;
  font-size: inherit;
  padding-bottom: 3px;
  word-wrap: break-word;
}
.c-card__btn {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #C7B000;
  font-size: 14px;
  line-height: 16.44px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  background-color: #C7B000;
  border: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  padding: var(--space-s) var(--space-m);
  text-align: center;
  border-radius: 4px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin: 0 20px 21px 37px;
  padding: 13px 46px;
}
.c-card__btn__icon-wrapper {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 100%;
  color: #000000;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}
.c-card__text-center {
  text-align: center;
}

.c-card-block__container {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
}
.c-card-block__container-x4 {
  grid-template-columns: repeat(4, 1fr);
}

.c-features {
  background-color: #FBF7E9;
  padding-top: 100px;
  padding-bottom: 150px;
  position: relative;
}
.c-features__is-home {
  margin-bottom: 132px;
}
.c-features__inner {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 767px) {
  .c-features__inner {
    grid-template-columns: repeat(4, 1fr);
  }
}
.c-features__item {
  padding-left: 48px;
  padding-right: 77px;
}
.c-features__item-kicker {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18.78px;
  font-weight: 700;
  text-transform: uppercase;
  color: #355360;
  margin-bottom: 26px;
}
.c-features__item-text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 35.22px;
  font-weight: 300;
  color: #355360;
  position: relative;
}
.c-features__item-text a {
  color: #C7B000;
  text-decoration: underline;
}
.c-features__item-text:before {
  content: "";
  height: auto;
  width: 3px;
  background-color: #57844E;
  position: absolute;
  left: -48px;
  top: 0;
  bottom: 0px;
}
.c-features__shape {
  position: absolute;
  right: 0;
  bottom: -51px;
  width: 317px;
  height: 156px;
}

.c-footer {
  border-bottom: solid 10px #57844E;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}
.c-footer__social {
  margin-top: 100px;
}
.c-footer__social ul {
  padding-left: 0;
}
.c-footer__social ul li {
  display: inline-block;
  background: #57844E;
  color: #FFFFFF;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: relative;
}
.c-footer__social-tw img {
  position: absolute;
  top: 9px;
  left: 8px;
}
.c-footer__social-fb img {
  position: absolute;
  top: 9px;
  left: 8px;
}
.c-footer__social-em img {
  position: absolute;
  top: 11px;
  left: 7px;
}
.c-footer__credits {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.c-footer__credits :first-child {
  padding-left: 0px;
}
.c-footer__credits-item {
  padding-left: 30px;
  display: flex;
  color: #355360;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
}
.c-footer__credits-item-logo-cimmyt {
  width: 155px;
  margin-right: 30px;
}
.c-footer__credits-item-logo-icarda {
  width: 56px;
  margin-right: 30px;
}
.c-footer__copyright {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.c-hero {
  background-repeat: no-repeat;
  background-size: cover;
  height: 467px;
  color: #FFFFFF;
  position: relative;
  border-bottom: solid 10px #57844E;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .c-hero {
    height: 100vh;
  }
}
.c-hero__image-wrapper {
  position: absolute;
  height: 467px;
  width: 100%;
}
.c-hero__image-wrapper:before {
  background: radial-gradient(transparent, #000000);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.c-hero__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 467px;
  z-index: -1;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.c-hero__video-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.c-hero__video-wrapper:before {
  background: radial-gradient(transparent, #000000);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.c-hero__video {
  position: absolute;
  z-index: -1;
  /*not work if the screen ratio is below 16/9*/
  width: 100%;
  height: auto;
}
@media (min-aspect-ratio: 16/9) {
  .c-hero__video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .c-hero__video {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .c-hero__video {
    display: none;
  }
}
.c-hero__text-block {
  background: #C7B000;
  position: absolute;
  bottom: -63px;
  width: 512px;
  height: 239px;
  left: 48%;
  padding-bottom: 55px;
  padding-top: 55px;
  z-index: 1;
}
.c-hero__text-block-heading {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18.78px;
  text-transform: uppercase;
  padding-bottom: 55px;
  padding-left: 38px;
  padding-right: 38px;
}
.c-hero__text-block-content {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 36px;
  padding-left: 38px;
  padding-right: 38px;
}
.c-hero__text-block-shape {
  position: absolute;
  bottom: -55px;
  left: -52px;
  fill: #c7b000;
}

.c-impact__container {
  margin-bottom: -60px;
}
.c-impact__item {
  padding-top: 1px;
  position: relative;
}
.c-impact__item:nth-child(even):after {
  background: rgba(241, 173, 45, 0.2);
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 130px;
  top: 0px;
  z-index: -1;
}
.c-impact__item:nth-child(odd) {
  margin-bottom: 50px;
}
.c-impact__heading-title {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 46.96px;
  font-weight: 700;
  font-weight: 500;
  color: #355360;
  text-align: center;
}
.c-impact__image-wrapper {
  margin-top: 60px;
  height: 500px;
  background-color: #57844e;
  overflow: hidden;
  position: relative;
  -ms-flex-align: center;
  display: -ms-flexbox;
  -ms-flex-pack: center;
}
.c-impact__image-wrapper:after {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000a8);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000a8);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.c-impact__image-wrapper-front, .c-impact__image-wrapper-ghost {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.c-impact__image-wrapper:hover .c-impact__image-wrapper-front {
  opacity: 0;
}
.c-impact__text-block {
  background: #F9F9F9;
  top: -60px;
  left: 20px;
  right: 20px;
  z-index: 1;
  position: relative;
  border-bottom: solid 10px #57844E;
  display: flex;
  padding: 50px;
  width: calc(100% - 140px);
}
.c-impact__text-block-wrapper {
  width: 58%;
}
.c-impact__text-block-heading {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 46.96px;
  font-weight: 700;
  color: #355360;
  padding-bottom: 48px;
  position: relative;
  margin-right: 80px;
}
.c-impact__text-block-heading:after {
  content: "";
  height: 3px;
  width: 75px;
  background: #C7B000;
  top: 58px;
  left: 0;
  position: absolute;
}
.c-impact__text-block-content {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #355360;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-right: 80px;
}
.c-impact__text-block-stats {
  width: 42%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-end;
}
.c-impact__text-block-stats-items {
  display: flex;
  align-items: flex-start;
}
.c-impact__text-block-stats-item {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}
.c-impact__text-block-stats-item-wrapper {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding-left: 28px;
}
.c-impact__text-block-stats-item-value {
  width: auto;
  white-space: nowrap;
  font-size: 48px;
  line-height: 48px;
  color: #C7B000;
  font-weight: 500;
}
.c-impact__text-block-stats-item-description {
  font-size: 14px;
  line-height: 15px;
  color: #C7B000;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 10px;
}
.c-impact__text-block-stats-cta {
  margin: 0px;
}

.c-learn-more {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin-bottom: var(--space-4xl);
}
.c-learn-more a.c-learn-more__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #355360;
  margin-bottom: 14px;
  text-decoration: underline;
  color: #355360;
}
.c-learn-more__icon {
  margin-right: 16px;
  width: 22px;
}
.c-learn-more__icon img {
  text-align: center;
  height: 20px;
  width: auto;
}

.c-main-menu {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.c-main-menu__logo {
  z-index: 2;
}
.c-main-menu__wrapper {
  display: flex;
  align-items: center;
  z-index: 2;
}
.c-main-menu__item {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  display: inline-block;
  padding-right: var(--space-m);
  padding-left: var(--space-m);
  border-right: solid 1px #FFFFFF;
}
.c-main-menu__item:first-child {
  padding-left: 0;
}
.c-main-menu__item:last-child {
  padding-right: 0;
  border-right: 0;
}

.c-map {
  position: relative;
  border-bottom: solid 10px #57844E;
}
.c-map__heading {
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .c-map__heading {
    grid-template-columns: repeat(4, 1fr);
  }
}
.c-map__heading-stats {
  display: flex;
  flex-flow: row wrap;
  border-left: solid 3px #57844E;
  padding-left: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #355360;
}
.c-map__heading-stats-item {
  width: 40%;
  margin-bottom: 15px;
}
.c-map__heading-stats-kicker {
  width: 100%;
  font-size: 16px;
  line-height: 18.78px;
  font-weight: 700;
  margin-bottom: 3px;
}
.c-map__heading-stats-intro {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}
.c-map__heading-stats-description {
  width: 100%;
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
}
.c-map__heading-menu {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: auto;
}
.c-map__heading-menu-cta {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  color: #355360;
  margin-bottom: 6px;
}
.c-map__heading-menu-list {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: #355360;
  justify-content: center;
}
.c-map__heading-menu-list-item {
  padding: 2px 15px;
  border-right: solid 2px #CCC;
}
.c-map__heading-menu-list-item:last-child {
  border-right: 0;
}
.c-map__heading-menu-list-item:first-child {
  padding-left: 0;
}
.c-map__heading-menu-btn {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
.c-map__heading-menu-btn.active {
  font-weight: 700;
}
.c-map__image {
  width: 100%;
}
.c-map__heading {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #57844E;
  padding-top: 37px;
  font-weight: 700;
}
.c-map__description {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-top: 27px;
  margin-bottom: 37px;
}
.c-map__description a {
  border-bottom: 1px solid currentColor;
  color: currentColor;
  font-size: inherit;
  padding-bottom: 3px;
  word-wrap: break-word;
}

.c-media__full-wide {
  margin: 0 calc(-50% + 45px) var(--space-l);
  display: block;
}
.c-media__wide {
  margin: 0 calc(-30% + 45px) var(--space-l);
  display: block;
}
.c-media__wide video {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
  margin: var(--space-3xl) auto;
}
.c-media figcaption {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 24px;
  margin-top: 15px;
  color: #355360;
}

.c-page-header {
  background: rgba(196, 196, 196, 0.1);
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
}
.c-page-header__title {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 46.96px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 652px;
  width: 50%;
  color: #355360;
  margin-bottom: 34px;
}
.c-page-header__lead {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 auto;
  max-width: 652px;
  width: 50%;
  color: #355360;
}
@media (max-width: 767px) {
  .c-quotes__item {
    display: block;
  }
}
.c-quotes__item-content {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #979797;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 60px;
  position: relative;
}
.c-quotes__item-content:after {
  content: "";
  width: 75px;
  height: 3px;
  background-color: #C7B000;
  position: absolute;
  bottom: -30px;
  left: 0;
}
@media (max-width: 767px) {
  .c-quotes__item-content {
    font-size: 20px;
  }
}
.c-quotes__item-metadata {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-weight: 700;
  color: #355360;
}
.c-quotes__item-metadata-rol {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
}

@media (max-width: 767px) {
  .slick-dotted.slick-slider .slick-list {
    padding-bottom: 0px;
  }
}

.slick-dotted.slick-slider {
  position: relative;
}
.slick-dotted.slick-slider:before {
  content: "";
  width: 68px;
  height: 59px;
  background-image: url("/img/comillas.png");
  position: absolute;
  font-size: 42px;
  left: -100px;
  top: 0;
  background-size: 100%;
}
@media (max-width: 767px) {
  .slick-dotted.slick-slider {
    margin-bottom: 30px;
    padding-bottom: 70px;
  }
}

.slick {
  position: relative;
  width: 811px;
  max-width: 100%;
  margin: 30px auto;
}

button.slick-arrow {
  position: absolute;
  background: #C7B000;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  top: auto;
  bottom: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.slick-arrow:hover, button.slick-arrow:focus {
  background: #355360;
}
button.slick-arrow.slick-prev {
  right: 40px;
  left: auto;
}
button.slick-arrow.slick-next {
  right: 0px;
}
button.slick-arrow svg {
  width: 16px;
  height: 16px;
  color: #FFFFFF;
  position: relative;
  top: 0;
}
button.slick-arrow svg path {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
}

.c-stats {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
  color: #355360;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: var(--space-l);
}
.c-stats__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 14px;
  line-height: 15px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .c-stats__item {
    width: 100%;
  }
}
.c-stats__item-number {
  font-size: 48px;
  line-height: 30px;
  font-weight: 500;
  white-space: nowrap;
  margin-right: 10px;
  margin-top: -5px;
}

/*
    ===============================
    7. OVERRIDES
    ===============================
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*# sourceMappingURL=custom.css.map */
