/*
    ===============================
    COMMON CODE
    ===============================
*/
@mixin accessible-hide() {
  height   : 1px;
  left     : -10000px;
  overflow : hidden;
  position : absolute;
  top      : auto;
  width    : 1px;
}

@mixin checkbox-hide {
  border   : 0;
  clip     : rect(0 0 0 0);
  height   : 1px;
  margin   : -1px;
  overflow : hidden;
  padding  : 0;
  position : absolute;
  width    : 1px;
}

// e.g 16:9 would be ratio(9, 16));
@mixin ratio($height, $width) {
  padding-bottom : ($height / $width) * 100;
}

/* Z-index management
================================================== */
$z-index : (
        skip-button: 10
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index : z-index($key);
}

// Object-fit polyfill script
@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit : $fit;
  object-fit    : $fit;
  @if $position {
    -o-object-position : $position;
    object-position    : $position;
    font-family        : 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family        : 'object-fit: #{$fit}';
  }
}

/*
    ===============================
    TYPOGRAPHY
    ===============================
*/

/* Font families */
@mixin sans {
  font-family : 'Raleway', Arial, Helvetica, sans-serif;
}

/* Body text */
@mixin default-list-style {
  ul, ol {
    margin-bottom : 24px;
    padding-left  : 21px;

    li {
      font-weight   : 600;
      margin-bottom : 12px;
    }
  }

  ul {
    list-style-type : disc;

    ul {
      list-style-type : circle;
    }
  }

  ol {
    list-style-type : decimal;

    ol {
      list-style-type : lower-alpha;
    }
  }
}

/*
    ===============================
    MISC
    ===============================
*/
@mixin placeholder($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color   : $color;
    opacity : 1;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color   : $color;
    opacity : 1;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color   : $color;
    opacity : 1;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color   : $color;
    opacity : 1;
  }
}

@mixin o-container__narrow {
  margin: 0 auto;
  max-width: 652px;
  width: 50%;
}