/* #General body
================================================== */
@mixin ts-body($small : false) {
  @include sans;
  font-size: 16px;
  line-height: 24px;

  @include media("<tablet") {

  }

  a {
    border-bottom  : 1px solid currentColor;
    color          : currentColor;
    font-size      : inherit;
    padding-bottom : 3px;
    word-wrap      : break-word;
  }

  @if ($small) {
    font-size: 14px;
    line-height: 24px;
    @include media("<tablet") {

    }
  }
}

/* #Headings
================================================== */
@mixin ts-heading-1 {
  @include sans;
  font-size: 50px;
  line-height: 58.7px;
  font-weight: 700;

  @include media("<tablet") {

  }
}

@mixin ts-heading-2 {
  @include sans;
  font-size: 40px;
  line-height: 46.96px;
  font-weight: 700;

  @include media("<tablet") {

  }
}

@mixin ts-heading-3 {

  @include media("<tablet") {

  }
}

@mixin ts-heading-4 {

  @include media("<tablet") {

  }
}

@mixin ts-heading-5 {

  @include media("<tablet") {

  }
}

@mixin ts-heading-6 {

  @include media("<tablet") {

  }
}

@mixin ts-subtitle($small : false) {
  @include sans;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;

  @include media("<tablet") {

  }
}

/* Buttons
================================================== */
@mixin ts-button($small : false) {
  @include sans;
  color:$wheat;
  font-size: 14px;
  line-height: 16.44px;
  font-weight: 700;
  text-transform: uppercase;

  @include media("<tablet") {

  }
}

/* Labels
================================================== */
@mixin ts-label {

  @include media("<tablet") {

  }
}

/* Miscellaneous
================================================== */
@mixin ts-pull-quote {
  @include sans;
  font-size   : 30px;
  line-height : 40px;
  color       : $green;

  @include media("<tablet") {
    font-size   : 24px;
    line-height : 32px;
  }
}