.c-call-to-action {
  position: relative;
  &__wrapper {
    background: $green;
    padding: 58px 144px;
    color:$white;
    display: flex;
    align-items: center;
  }
  &__text {
    @include ts-body();
    font-size: 23px;
    line-height: 30px;
    width: 70%;
  }
  &__action {
    width: 30%;
    text-align: right;
  }
  &__btn {
    @include o-button();
    @include sans;
  }
  &__bg {
    background: #FBF7E9;
    width: 100%;
    padding: 99px 0 59px;
    margin-top: 120px;
  }
  &__shape {
    position: absolute;
    right: 0;
    top: -104px;
    width: 317px;
    height: 156px;
  }
}