.c-card {
  width: 100%;
  border-top: solid 1px #E5E5E5;
  border-bottom: solid 1px #E5E5E5;
  border-left: solid 1px #E5E5E5;
  &:last-child {
    border-right: solid 1px #E5E5E5;
  }

  &__image-wrapper {
    background: $green;
    height: 243px;
    position: relative;
    margin: 11px;
  }
  &__image-wrapper-short {
    background: $green;
    height: 194px;
    position: relative;
    margin: 11px;
    overflow:hidden;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position:center;
    display:block; /*to make it behave as div and avoir whitespace issue*/
  }
  &__heading {
    @include sans;
    font-size: 22px;
    line-height: 26px;
    color:$green;
    padding-top: 37px;
    font-weight: 700;
    margin: 0 20px 16px 37px;
  }
  &__description {
    @include ts-body();
    margin-bottom: 37px;
    margin: 0 20px 41px 37px;
    color:$petrol;
  }
  &__btn {
    @include o-button();
    @include sans;
    margin: 0 20px 21px 37px;
    padding: 13px 46px;
  }

  &__text-center {
    text-align: center;
  }
}