.c-features {
  background-color: #FBF7E9;
  padding-top: 100px;
  padding-bottom: 150px;
  position: relative;

  &__is-home {
    margin-bottom: 132px;
  }

  &__inner {
    @include grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    padding-left: 48px;
    padding-right: 77px;
  }

  &__item-kicker {
    @include sans;
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 700;
    text-transform: uppercase;
    color:$petrol;
    margin-bottom: 26px;
  }

  &__item-text {
    @include sans;
    font-size: 30px;
    line-height: 35.22px;
    font-weight: 300;
    color:$petrol;
    position: relative;

    a {
      color:$wheat;
      text-decoration: underline;
    }

    &:before {
      content: '';
      height: auto;
      width: 3px;
      background-color: $green;
      position: absolute;
      left:-48px;
      top:0;
      bottom: 0px;
    }
  }

  &__shape {
    position: absolute;
    right: 0;
    bottom: -51px;
    width: 317px;
    height: 156px;
  }
}