.c-footer {
  $class : &;
  border-bottom: solid 10px $green;
  @include sans;
  font-size: 14px;
  line-height: 18px;
  position: relative;

  &__social {
    margin-top: 100px;
    ul {
      padding-left: 0;
      li {
        display: inline-block;
        background: $green;
        color:$white;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        position: relative;
      }
    }
  }

  &__social-tw {
    img {
      position: absolute;
      top: 9px;
      left: 8px;
    }
  }
  &__social-fb {
    img {
      position: absolute;
      top: 9px;
      left: 8px;
    }
  }
  &__social-em {
    img {
      position: absolute;
      top: 11px;
      left: 7px;
    }
  }

  &__credits {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;

    :first-child {
      padding-left: 0px;
    }
  }

  &__credits-item {
    padding-left: 30px;
    display: flex;
    color:$petrol;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
  }

  &__credits-item-logo-cimmyt {
    width: 155px;
    margin-right: 30px;
  }

  &__credits-item-logo-icarda {
    width: 56px;
    margin-right: 30px;
  }


  &__copyright {
    @include sans;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}
