.c-hero {
  background-repeat: no-repeat;
  background-size: cover;
  height: 467px;
  color:$white;
  position: relative;
  border-bottom:solid 10px $green;
  margin-bottom: 0;

  @include media('<tablet') {
    height: 100vh;
  }


  &__image-wrapper {
    position: absolute;
    height: 467px;
    width: 100%;

    &:before {
      background: radial-gradient(transparent, #000000);
      content: '';
      height: 100%;
      left: 0;
      opacity: .4;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
  }

  &__image {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 467px;
    z-index: -1;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__video-wrapper {
    overflow:hidden;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    &:before {
      background: radial-gradient(transparent, #000000);
      content: '';
      height: 100%;
      left: 0;
      opacity: .8;
      position: absolute;

      top: 0;
      width: 100%;
      z-index: 0;
    }
  }


  &__video {
      position:absolute;
      z-index: -1;
      /*not work if the screen ratio is below 16/9*/
      width:100%;
      height: auto;
  }
  @media (min-aspect-ratio: 16/9) {
    &__video {
      width:100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    &__video {
      width:auto;
      height: 100%;
    }
  }

  @include media('<tablet'){
    &__video {
      display: none;
    }
  }

  &__text-block {
    background: #C7B000;
    position: absolute;
    bottom: -63px;
    width: 512px;
    height: 239px;
    left: 48%;
    padding-bottom: 55px;
    padding-top: 55px;
    z-index: 1;
  }
  &__text-block-heading {
    @include sans;
    font-size: 16px;
    line-height: 18.78px;
    text-transform: uppercase;
    padding-bottom: 55px;
    padding-left: 38px;
    padding-right: 38px;
  }

  &__text-block-content {
    @include sans;
    font-size: 24px;
    line-height: 36px;
    padding-left: 38px;
    padding-right: 38px;
  }

  &__text-block-shape {
    position: absolute;
    bottom: -55px;
    left: -52px;
    fill: #c7b000;
  }

}