.c-impact {
  $class : &;

  &__container {
    margin-bottom:-60px;
  }

  &__item {
    padding-top:1px;
    position: relative;
    &:nth-child(even) {
      &:after {
        background: rgba(241, 173, 45, 0.2);
        content: '';
        position: absolute;
        left: 0px;
        right:0px;
        bottom: 130px;
        top:0px;
        z-index: -1;
      }
    }
    &:nth-child(odd) {
      margin-bottom: 50px;
    }
  }

  &__heading-title {
    @include ts-heading-2;
    font-weight: 500;
    color:$petrol;
    text-align: center;
  }

  &__image-wrapper {
    margin-top: 60px;
    height: 500px;
    background-color: #57844e;
    overflow: hidden;
    position: relative;
    -ms-flex-align: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;

    &:after {
      background: -webkit-linear-gradient(top, rgba(0,0,0,0), #000000a8);
      background: linear-gradient(to bottom, rgba(0,0,0,0), #000000a8);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__image-wrapper-front,
  &__image-wrapper-ghost {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  &__image-wrapper:hover {
    #{$class}__image-wrapper-front {
      opacity: 0;
    }
  }

  &__text-block {
    background: #F9F9F9;
    top: -60px;
    left: 20px;
    right: 20px;
    z-index: 1;
    position: relative;
    border-bottom: solid 10px $green;
    display: flex;
    padding: 50px;
    width: calc(100% - 140px);
  }
  &__text-block-wrapper {
    width: 58%;
  }
  &__text-block-heading {
    @include ts-heading-2;
    color:$petrol;
    padding-bottom: 48px;
    position: relative;
    margin-right: 80px;

    &:after{
      content: '';
      height: 3px;
      width: 75px;
      background: $wheat;
      top: 58px;
      left:0;
      position: absolute;
    }
  }

  &__text-block-content {
    @include sans;
    color:$petrol;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-right: 80px;
  }

  &__text-block-stats {
    width: 42%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
  }

  &__text-block-stats-items {
    display: flex;
    align-items: flex-start;
  }

  &__text-block-stats-item {
    @include sans;
    display: flex;
    align-items: center;
  }

  &__text-block-stats-item-wrapper {
    @include sans;
    display: flex;
    align-items: center;
    padding-left: 28px;
  }

  &__text-block-stats-item-value {
    width: auto;
    white-space: nowrap;
    font-size: 48px;
    line-height: 48px;
    color: $wheat;
    font-weight: 500;
  }
  &__text-block-stats-item-description {
    font-size: 14px;
    line-height: 15px;
    color: $wheat;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 10px;
  }
  &__text-block-stats-cta {
    margin:0px;
  }
}
