.c-learn-more {
  $class : &;
  @include sans;
  margin-bottom: var(--space-4xl);

  a#{$class}__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: $petrol;
    margin-bottom: 14px;
    text-decoration: underline;
    color: $petrol;
  }

  &__icon {
    margin-right: 16px;
    width: 22px;
    img {
      text-align: center;
      height: 20px;
      width: auto;
    }
  }
}