.c-main-menu {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;

  &__logo {
    z-index: 2;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    z-index: 2;
  }
  &__item {
    @include sans;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    display: inline-block;
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    border-right: solid 1px $white;
    &:first-child {
      padding-left: 0;
    };
    &:last-child {
      padding-right: 0;
      border-right:0;
    };
  }
}