.c-map {
  position: relative;
  border-bottom: solid 10px $green;
  &__container {

  }
  &__heading {
    @include grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
  }
  &__heading-stats {
    display: flex;
    flex-flow: row wrap;
    border-left: solid 3px $green;
    padding-left: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color:$petrol;
  }
  &__heading-stats-item {
    width: 40%;
    margin-bottom: 15px;
  }
  &__heading-stats-kicker {
    width: 100%;
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 700;
    margin-bottom: 3px;
  }
  &__heading-stats-intro {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__heading-stats-description {
    width: 100%;
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
  }

  &__heading-menu {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: auto;
  }
  &__heading-menu-cta {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    color: $petrol;
    margin-bottom: 6px;
  }
  &__heading-menu-list {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color:$petrol;
    justify-content: center;
  }
  &__heading-menu-list-item {
    padding: 2px 15px;
    border-right: solid 2px #CCC;
    &:last-child {
      border-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }

  &__heading-menu-btn {
    @include sans;

    &.active {
      font-weight: 700;
    }
  }


  &__image {
    width: 100%;
  }
  &__heading {
    @include sans;
    font-size: 22px;
    line-height: 26px;
    color:$green;
    padding-top: 37px;
    font-weight: 700;
  }
  &__description {
    @include ts-body();
    padding-top: 27px;
    margin-bottom: 37px;
  }
}