.c-media {
  $class : &;

  &__full-wide {
    margin: 0 calc(-50% + 45px) var(--space-l);
    display: block;
  }

  &__wide {
    margin: 0 calc(-30% + 45px) var(--space-l);
    display: block;

    video {
      display: block;
      height: auto;
      max-width: 100%;
      width: 100%;
      margin: var(--space-3xl) auto;
    }
  }

  figcaption {
    @include sans;
    font-size: 12px;
    line-height: 24px;
    margin-top:15px;
    color:$petrol;
  }



}
