.c-page-header {
  background: rgba(196, 196, 196, 0.1);
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);

  &__title {
    @include ts-heading-2;
    @include o-container__narrow;
    color: $petrol;
    margin-bottom: 34px;
  }

  &__lead {
    @include ts-subtitle;
    @include o-container__narrow;
    color: $petrol;
  }
}