.c-quotes {

  &__container {

  }

  &__item {
    @include media("<tablet") {
      display: block;
    }
  }

  &__item-content-wrapper {
  }

  &__item-content {
    @include sans;
    color: #979797;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    margin-bottom: 60px;
    position: relative;

    &:after {
      content:'';
      width: 75px;
      height: 3px;
      background-color:$wheat ;
      position: absolute;
      bottom: -30px;
      left: 0;
    }

    @include media("<tablet") {
      font-size: 20px;
    }
  }

  &__item-metadata {
    @include sans;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-weight: 700;
    color:$petrol;

    &-rol {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      margin-left: 20px;
    }
  }

}

.slick-dotted.slick-slider .slick-list {
  @include media('<tablet') {
    padding-bottom: 0px;
  }
}

.slick-dotted.slick-slider {
  position: relative;
  &:before {
    content:'';
    width: 68px;
    height: 59px;
    background-image: url('/img/comillas.png');
    position:absolute;
    font-size: 42px;
    left: -100px;
    top:0;
    background-size: 100%;
  }
  @include media('<tablet') {
    margin-bottom: 30px;
    padding-bottom: 70px;
  }
}

.slick {
  position: relative;
  width: 811px;
  max-width: 100%;
  margin: 30px auto;
}
button.slick-arrow {
  position: absolute;
  background: $wheat;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  top:auto;
  bottom:0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover, &:focus {
    background:$petrol;
  }
  &.slick-prev {
    right: 40px;
    left: auto;
  }
  &.slick-next {
    right: 0px;
  }
  svg {
    width: 16px;
    height: 16px;
    color:$white;
    position: relative;
    top:0;
    path {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  }
}