.c-stats {
  @include sans;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
  color:$petrol;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: var(--space-l);

  &__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;

    @include media('<tablet') {
      width: 100%;
    }
  }

  &__item-number {
    font-size: 48px;
    line-height: 30px;
    font-weight: 500;
    white-space: nowrap;
    margin-right: 10px;
    margin-top: -5px;
  }

}