html {
  scroll-behavior          :smooth;
}
body {
  -webkit-font-smoothing   : antialiased;
  -moz-osx-font-smoothing  : grayscale;
  -webkit-text-size-adjust : none;
  box-sizing               : border-box;
  font-size                : 16px;
  word-break               : break-word;
}
main {
  background-color : $white;
}
h1, h2, h3, h4, h5 {
  @include sans;
  font-weight: 700;
  color: $petrol;
}
h1 {
  font-size : 32px
}
h2 {
  font-size : 26px;
}
h3 {
  font-size : 22px;
  line-height: 24px;
}
h4 {
  font-size : 18px;
}
h5, h6 {
  font-size : 16px;
}
p {
  font-size : 14px;
}
a {
  color           : inherit;
  text-decoration : none;
}
a,
p a,
ol li a,
ul li a {
  cursor          : pointer;
  text-decoration : none;

  &:hover, &:focus {
    outline         : 0;
    text-decoration : none;
  }
}
b, strong, body.webkit strong, body.webkit b {
  font-weight : 700;
}
i, em {
  font-style : italic;
}
// Force font on form elements
button, input, textarea, select {
  @include sans;
}
input[type="text"],
input[type="email"] {
  border         : 0;
  box-sizing     : border-box;
  display        : inline-block;
  outline        : 0;
  vertical-align : top;
}

hr {
  border: 0;
  height: 3px;
  background-color: $wheat;
  margin:var(--space-3xl) 0;
}