@mixin o-button {
  @include ts-button;
  align-items      : center;
  background-color : $wheat;
  border           : 0;
  box-sizing       : border-box;
  color            : $white;
  cursor           : pointer;
  display          : inline-flex;
  justify-content  : space-between;
  padding          : var(--space-s) var(--space-m);
  text-align       : center;
  border-radius: 4px;

  &__icon-wrapper {
    align-items      : center;
    background-color : $white;
    border-radius    : 100%;
    color            : $black;
    display          : flex;
    height           : 24px;
    justify-content  : center;
    width            : 24px;
  }
}

.o-button {
  @include o-button;
}
.c-button__link {
  @include sans;
  font-size: 15px;
  line-height: 40px;
  font-weight: 700;
  text-decoration: underline;
  color:$green;
}

