.o-content-from-editor {
  // Dummy content prefill available from: http://www.wpfill.me/ or http://wpfill.sbx.so/

  border-bottom: solid 10px $green;

  &__container {
    @include o-container__narrow;
  }

  p {
    @include ts-body(small);
    color: $petrol;
  }

  h1, h2, h3, h4, h5, h6, p, ol, ul, a {
    box-sizing : border-box;
  }

  h1 {
    @include ts-heading-1;
    margin-bottom : var(--space-l);
  }

  h2 {
    @include ts-heading-2;
    margin-bottom : var(--space-l);
    padding-left  : 56px;
    position      : relative;

    @include media("<tablet") {
      padding-left : 40px;
    }

    &:after {
      background-color : $green;
      content          : "";
      height           : 2px;
      left             : 0;
      position         : absolute;
      top              : 50%;
      transform        : translateY(-50%);
      width            : 40px;

      @include media("<tablet") {
        width : 24px;
      }
    }
  }

  h3 {
    @include ts-heading-3;
    margin-bottom : var(--space-m);
  }

  h4 {
    @include ts-heading-4;
    margin-bottom : var(--space-m);
  }

  h5 {
    @include ts-heading-5;
    margin-bottom : var(--space-m);
  }

  h6 {
    @include ts-heading-6;
    margin-bottom : var(--space-m);
  }

  p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6 {
    margin-top : var(--space-l);
  }

  a {
    color : $green;

    &:hover, &:focus {
      border-color    : $green;
      color           : $green;
      text-decoration : none;
    }
  }

  > :last-child {
    margin-bottom : 0;
  }

  img {
    display   : block;
    height    : auto;
    max-width : 100%;
    width     : 100%;
  }

  /* Block Quotes
  ================================================== */
  blockquote {
    margin : var(--space-2xl) 0 56px 0;
    border-left: solid 3px $green;
    padding-left: var(--space-2xl);

    @include media("<tablet") {
      margin : var(--space-l) var(--space-m) var(--space-xl) var(--space-l);
    }

    p {
      @include ts-pull-quote ;
      color         : $green;
      font-style    : normal;
      margin-bottom : var(--space-l);
    }

    figcaption {
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
      color:$green;
      cite {
        display: block;
        font-weight: 400;
      }
    }

    footer {
      margin-top : var(--space-m);
    }
  }

  /* Captioned Images
  ================================================== */
  .wp-caption {
    display        : inline-block;
    margin         : 0 var(--space-l) var(--space-l) 0;
    vertical-align : top;

    img {
      display   : block;
      height    : auto;
      max-width : 100%;
    }
  }

  .wp-caption-text {
    //@extend .ts-caption;
    color       : #1C1C1C;
    font-size   : 13px;
    line-height : 19px;
    margin-top  : var(--space-xs);
    text-align  : left;

    p:last-child,
    ul:last-child,
    ol:last-child {
      margin-bottom : 0;
    }
  }

  /* Aligned Images
  ================================================== */
  .alignleft {
    float  : left;
    margin : var(--space-2xl) 0;

    .wp-caption-text {
      padding-left : 0;
      text-align   : left;
    }
  }

  .aligncenter {
    display : block;
    margin  : var(--space-2xl) 0;

    .wp-caption-text {
      text-align : center;
    }
  }

  .alignright {
    float  : right;
    margin : var(--space-2xl) 0;

    .wp-caption-text {
      padding-right : 0;
      text-align    : right;
    }
  }

  .alignnone {
    display   : block;
    height    : auto;
    margin    : var(--space-2xl) 0;
    max-width : 100%;

    .wp-caption-text {
      padding-left : 0;
    }
  }

  .alignleft,
  .alignright,
  .alignnone {
    @include media("<tablet") {
      display       : block;
      float         : none;
      margin-bottom : var(--space-m);
      margin-left   : 0;
    }

    .wp-caption-text {
      @include media("<tablet") {
        padding-left : 0;
        text-align   : left;
      }
    }
  }

  /* Lists
  ================================================== */

  ol, ul {
    margin : var(--space-m) 0 (var(--space-l) .5) var(--space-l);

    @include media("<tablet") {
      margin-bottom : var(--space-m);
      margin-top    : var(--space-m);
    }

    ul, ol {
      margin : 4px 0 5px var(--space-l);
    }

    li {
      margin-bottom : 0;
      padding-left  : var(--space-m);
    }
  }

  ol {
    list-style : decimal;

    ul {
      list-style : disc;
    }

    ol {
      list-style : lower-latin;
    }
  }

  ol {
    counter-reset : li;
    list-style    : none;
    margin-bottom : var(--space-2xl);
    margin-top    : var(--space-2xl);
    padding-left  : 1em;
    @include ts-body;

    @include media("<tablet") {
      margin-bottom : var(--space-xl);
      margin-top    : var(--space-xl);
    }

    li {
      counter-increment : li;
      position          : relative;

      &:before {
        color       : $green;
        content     : counter(li) ".";
        display     : inline-block;
        left        : -16px;
        margin-left : 0;
        position    : absolute;
        top         : 0;
      }
    }

    ul {
      list-style : circle;
    }

    ol {
      list-style : decimal;
    }
  }

  ul {
    list-style    : none;
    margin-bottom : var(--space-2xl);
    margin-top    : var(--space-2xl);
    padding-left  : 1em;
    @include ts-body;

    @include media("<tablet") {
      margin-bottom : var(--space-xl);
      margin-top    : var(--space-xl);
    }

    li {
      position : relative;

      &:before {
        background-color : $green;
        content          : "";
        display          : inline-block;
        height           : 8px;
        left             : -16px;
        margin-left      : 0;
        position         : absolute;
        top              : 12px;
        width            : 8px;
      }
    }

    ul {
      list-style : circle;
    }

    ol {
      list-style : decimal;
    }
  }

  /* Tables
  ================================================== */
  table {
    @include ts-label;
    border-collapse : collapse;
    border-spacing  : 0;
    margin-bottom   : 60px;
    margin-top      : 36px;
    width           : 100%;

    @include media("<tablet") {
      margin-bottom : var(--space-xl);
      margin-top    : var(--space-xs);
    }

    thead > tr:first-child > td {
      font-size   : 18px;
      font-weight : 700;
      line-height : 28px;
    }

    td, th {
      border-bottom : 1px solid $green;
      border-top    : 1px solid $green;
      box-sizing    : border-box;
      padding       : var(--space-xs) 0;
    }

    th {
      font-weight : 600;
    }

    td {
      text-align : left;
    }

    /* Cells in even rows (2,4,6...) are one color */
    tr:nth-child(even) td {
      background-color : transparent;
    }

  }

  /* Miscellaneous
  ================================================== */
  address {
    @include ts-body;
    font-style    : italic;
    margin-bottom : var(--space-m);
  }

  big {
    font-size   : 22px;
    line-height : 32px;
  }

  small {
    font-size   : 14px;
    line-height : 22px;
  }

  cite {
    font-weight : 700;
  }

  q {
    font-style : italic;
  }

  code, var {
    font-family : Consolas, monospace;
  }

  picture {
    display: block;
    margin-bottom: 36px;
  }


  figcaption {
    @include sans;
    font-size: 12px;
    line-height: 24px;
    margin-top:15px;
    color:$petrol;
  }

  /* Wordpress Galleries - Ew!
  ================================================== */
  .gallery {
    display       : block;
    margin-bottom : var(--space-l);
    margin-top    : var(--space-2xl);
  }

  .gallery-item {
    display        : inline-block;
    vertical-align : top;
  }

  .gallery-columns-3 .gallery-item {
    // width : calc(100% / 3);
  }

  figure {
    width : 100% !important;
  }
}

/* Iframes
================================================== */

.iframe-container {
  height         : 0;
  margin-bottom  : var(--space-l);
  overflow       : hidden;
  padding-bottom : 56.25%;
  position       : relative;

  iframe,
  object,
  embed {
    height   : 100%;
    left     : 0;
    position : absolute;
    top      : 0;
    width    : 100%;
  }
}

audio {
  width: 100%;
}